doctype html
html
	head
		block title
			title OmniTestr
			link(href="http://fonts.googleapis.com/css?family=Lato:100", rel="stylesheet")
			link(href="css/login.css", rel="stylesheet")
	body
		block content
