extends layout

block content
	h1 You're currently authorized to test #{domain}.
	br
	h2 Token: #{token}
	h3 1. Please add a CNAME record on your DNS for omnitestr and point it to #{token}.io
	h3 2. After updating the DNS record, please enter your domain address

	
	div(class="mdl-textfield mdl-js-textfield")
		form(id="domain")
			input(class="mdl-textfield__input", type="text", id="domainForm", name="domainForm", value='')
			label(class="mdl-textfield__label", for="domainForm") Enter URI...


	a(id="domainSubmit", href='#') Submit
				
			script(src="js/domain.js")